<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.laoyan.ammeter.mapper.AddAndUpdateDatasMapper">
    <update  id="updateOneData" parameterType="DataInfo">
        update ammeter_info
        <set>
            <if test="info_id != null">
                info_id = #{info_id,jdbcType=VARCHAR},
            </if>
            <if test="cheque_num != null">
                cheque_num = #{cheque_num,jdbcType=VARCHAR},
            </if>
            <if test="worker != null">
                worker = #{worker,jdbcType=VARCHAR},
            </if>
            <if test="modifier_date != null">
                modifier_date = #{modifier_date,jdbcType=VARCHAR},
            </if>
            <if test="item_num != null">
                item_num = #{item_num,jdbcType=VARCHAR},
            </if>

            <if test="payment_num != null">
                payment_num = #{payment_num,jdbcType=VARCHAR},
            </if>
            <if test="ammeter_num != null">
                ammeter_num = #{ammeter_num,jdbcType=VARCHAR},
            </if>
            <if test="payment_total != null">
                payment_total = #{payment_total,jdbcType=VARCHAR},
            </if>
            <if test="isAccount != null">
                isAccount = #{isAccount,jdbcType=VARCHAR},
            </if>
            <if test="station_type != null">
                station_type = #{station_type,jdbcType=VARCHAR},
            </if>

            <if test="agreement_price != null">
                agreement_price = #{agreement_price,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="network_identity != null">
                network_identity = #{network_identity,jdbcType=VARCHAR},
            </if>
            <if test="station_num != null">
                station_num = #{station_num,jdbcType=VARCHAR},
            </if>
            <if test="station_name != null">
                station_name = #{station_name,jdbcType=VARCHAR},
            </if>

            <if test="machine_room != null">
                machine_room = #{machine_room,jdbcType=VARCHAR},
            </if>
            <if test="machine_QR != null">
                machine_QR = #{machine_QR,jdbcType=VARCHAR},
            </if>
            <if test="payment_period != null">
                payment_period = #{payment_period,jdbcType=VARCHAR},
            </if>
            <if test="befor_payment_date != null">
                befor_payment_date = #{befor_payment_date,jdbcType=VARCHAR},
            </if>
            <if test="last_ammeter_num != null">
                last_ammeter_num = #{last_ammeter_num,jdbcType=VARCHAR},
            </if>

            <if test="now_ammeter_num != null">
                now_ammeter_num = #{now_ammeter_num,jdbcType=DOUBLE},
            </if>
            <if test="reality_report_num != null">
                reality_report_num = #{reality_report_num,jdbcType=DOUBLE},
            </if>
            <if test="last_check_ammeter != null">
                last_check_ammeter = #{last_check_ammeter,jdbcType=VARCHAR},
            </if>
            <if test="now_check_ammeter != null">
                now_check_ammeter = #{now_check_ammeter,jdbcType=VARCHAR},
            </if>
            <if test="multiple != null">
                multiple = #{multiple,jdbcType=DOUBLE},
            </if>

            <if test="form_price != null">
                form_price = #{form_price,jdbcType=DOUBLE},
            </if>
            <if test="finance_price != null">
                finance_price = #{finance_price,jdbcType=DOUBLE},
            </if>
            <if test="finance_expend_money != null">
                finance_expend_money = #{finance_expend_money,jdbcType=DOUBLE},
            </if>
            <if test="electricity_num_a != null">
                electricity_num_a = #{electricity_num_a,jdbcType=DOUBLE},
            </if>
            <if test="electricity_num_b != null">
                electricity_num_b = #{electricity_num_b,jdbcType=DOUBLE},
            </if>

            <if test="electricity_num_c != null">
                electricity_num_c = #{electricity_num_c,jdbcType=DOUBLE},
            </if>
            <if test="electricity_num_d != null">
                electricity_num_d = #{electricity_num_d,jdbcType=DOUBLE},
            </if>
            <if test="electricity_num_price != null">
                electricity_num_price = #{electricity_num_price,jdbcType=DOUBLE},
            </if>
            <if test="move_account_money != null">
                move_account_money = #{move_account_money,jdbcType=DOUBLE},
            </if>
            <if test="returned_money_count != null">
                returned_money_count = #{returned_money_count,jdbcType=VARCHAR},
            </if>

            <if test="gross_margin != null">
                gross_margin = #{gross_margin,jdbcType=DOUBLE},
            </if>
            <if test="ammeter_type != null">
                ammeter_type = #{ammeter_type,jdbcType=VARCHAR},
            </if>
            <if test="ammeter_discern_num != null">
                ammeter_discern_num = #{ammeter_discern_num,jdbcType=VARCHAR},
            </if>
            <if test="ammeter_state != null">
                ammeter_state = #{ammeter_state,jdbcType=VARCHAR},
            </if>
            <if test="station_state != null">
                station_state = #{station_state,jdbcType=VARCHAR},
            </if>

            <if test="ammeter_address != null">
                ammeter_address = #{ammeter_address,jdbcType=VARCHAR},
            </if>
            <if test="affiliation_company != null">
                affiliation_company = #{affiliation_company,jdbcType=VARCHAR},
            </if>
            <if test="rent_company != null">
                rent_company = #{rent_company,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>

            <if test="gathering_company != null">
                gathering_company = #{gathering_company,jdbcType=VARCHAR},
            </if>
            <if test="machine_room_address != null">
                machine_room_address = #{machine_room_address,jdbcType=VARCHAR},
            </if>
            <if test="tenement_address != null">
                tenement_address = #{tenement_address,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="affirm_pact_money != null">
                affirm_pact_money = #{affirm_pact_money,jdbcType=VARCHAR},
            </if>

            <if test="balance_date != null">
                balance_date = #{balance_date,jdbcType=DATE},
            </if>
            <if test="contract_date != null">
                contract_date = #{contract_date,jdbcType=DATE},
            </if>
            <if test="income_date != null">
                income_date = #{income_date,jdbcType=DATE},
            </if>
            <if test="is_invoice != null">
                is_invoice = #{is_invoice,jdbcType=VARCHAR},
            </if>
            <if test="contract_num != null">
                contract_num = #{contract_num,jdbcType=VARCHAR},
            </if>

            <if test="invoice_type != null">
                invoice_type = #{invoice_type,jdbcType=VARCHAR},
            </if>
            <if test="tax_rate != null">
                tax_rate = #{tax_rate,jdbcType=DOUBLE},
            </if>
            <if test="tax_money != null">
                tax_money = #{tax_money,jdbcType=DOUBLE},
            </if>
            <if test="invoice_num != null">
                invoice_num = #{invoice_num,jdbcType=VARCHAR}
            </if>
            <if test="creat_time != null">
                creat_time = #{creat_time,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--添加一条新数据-->
    <insert id="insertNewDate" parameterType="DataInfo">
        insert into ammeter_info
            (info_id,cheque_num,worker,modifier_date,item_num,
            payment_num,ammeter_num,payment_total,isAccount,station_type,
            agreement_price,area,network_identity,station_num,station_name,
            machine_room,machine_QR,payment_period,befor_payment_date,last_ammeter_num,
            now_ammeter_num,reality_report_num,last_check_ammeter,now_check_ammeter,multiple,
            form_price,finance_price,finance_expend_money,electricity_num_a,electricity_num_b,
            electricity_num_c,electricity_num_d,electricity_num_price,move_account_money,returned_money_count,
            gross_margin,ammeter_type,ammeter_discern_num,ammeter_state,station_state,
            ammeter_address,affiliation_company,rent_company,linkman,phone,
            gathering_company,machine_room_address,tenement_address,remark,affirm_pact_money,
            balance_date,contract_date,income_date,is_invoice,contract_num,
            invoice_type,tax_rate,tax_money,invoice_num,creat_time)
        values
            (
            #{info_id,jdbcType=VARCHAR},#{cheque_num,jdbcType=VARCHAR},#{worker,jdbcType=VARCHAR},#{modifier_date,jdbcType=VARCHAR},#{item_num,jdbcType=VARCHAR},#{payment_num,jdbcType=VARCHAR},
            #{ammeter_num,jdbcType=VARCHAR},#{payment_total,jdbcType=VARCHAR},#{isAccount,jdbcType=VARCHAR},#{station_type,jdbcType=VARCHAR},
            #{agreement_price,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{network_identity,jdbcType=VARCHAR},#{station_num,jdbcType=VARCHAR},#{station_name,jdbcType=VARCHAR},
            #{machine_room,jdbcType=VARCHAR},#{machine_QR,jdbcType=VARCHAR},#{payment_period,jdbcType=VARCHAR},#{befor_payment_date,jdbcType=VARCHAR},#{last_ammeter_num,jdbcType=DOUBLE},
            #{now_ammeter_num,jdbcType=DOUBLE},#{reality_report_num,jdbcType=DOUBLE},#{last_check_ammeter,jdbcType=VARCHAR},#{now_check_ammeter,jdbcType=VARCHAR},#{multiple,jdbcType=DOUBLE},
            #{form_price,jdbcType=DOUBLE},#{finance_price,jdbcType=DOUBLE},#{finance_expend_money,jdbcType=DOUBLE},#{electricity_num_a,jdbcType=DOUBLE},#{electricity_num_b,jdbcType=DOUBLE},
            #{electricity_num_c,jdbcType=DOUBLE},#{electricity_num_d,jdbcType=VARCHAR},#{electricity_num_price,jdbcType=DOUBLE},#{move_account_money,jdbcType=DOUBLE},#{returned_money_count,jdbcType=VARCHAR},
            #{gross_margin,jdbcType=DOUBLE},#{ammeter_type,jdbcType=VARCHAR},#{ammeter_discern_num,jdbcType=VARCHAR},#{ammeter_state,jdbcType=VARCHAR},#{station_state,jdbcType=VARCHAR},
            #{ammeter_address,jdbcType=VARCHAR},#{affiliation_company,jdbcType=VARCHAR},#{rent_company,jdbcType=VARCHAR},#{linkman,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
            #{gathering_company,jdbcType=VARCHAR},#{machine_room_address,jdbcType=VARCHAR},#{tenement_address,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{affirm_pact_money,jdbcType=VARCHAR},
            #{balance_date,jdbcType=VARCHAR},#{contract_date,jdbcType=VARCHAR},#{income_date,jdbcType=VARCHAR},#{is_invoice,jdbcType=VARCHAR},#{contract_num,jdbcType=VARCHAR},
            #{invoice_type,jdbcType=VARCHAR},#{tax_rate,jdbcType=DOUBLE},#{tax_money,jdbcType=DOUBLE},#{invoice_num,jdbcType=VARCHAR},#{creat_time,jdbcType=VARCHAR}
            )
    </insert>
</mapper>