<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.laoyan.ammeter.mapper.DeleteNewDatasMapper">

    <!--根据id去删除最新添加的一条数据(物理删除)-->
    <delete id="deleteNewDateById" parameterType="java.lang.Integer" >
        delete from
            ammeter_info
        where
            id = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据id去删除最新添加的一条数据(逻辑删除)-->
    <update  id="updateNewDateById" parameterType="java.lang.Integer">
        update
            ammeter_info
        <set>
             isShow = "20"
        </set>
        where
            id = #{id,jdbcType=INTEGER}
    </update>

</mapper>