<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.laoyan.ammeter.mapper.ImportExcleMapper">

    <!--从数据库读取用户数据 -->
    <select id="selectUsers" resultType="User">
        select * from t_user;
    </select>

    <!--保存用户数据集合-->
    <insert id="insertUsers" parameterType="cn.zjy.laoyan.ammeter.pojo.User">
        INSERT INTO t_user
            (u_id,username,password,telphone,name)
        VALUES
            (#{u_id,jdbcType=VARCHAR}},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{telphone,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
    </insert>

    <!--保存电表数据集合-->
    <insert id="insertLists"  parameterType="java.util.List">
        insert into ammeter_info
        (info_id,cheque_num,worker,modifier_date,item_num,payment_num,
        ammeter_num,payment_total,isAccount,station_type,
        agreement_price,area,network_identity,station_num,station_name,
        machine_room,machine_QR,payment_period,befor_payment_date,last_ammeter_num,
        now_ammeter_num,reality_report_num,last_check_ammeter,now_check_ammeter,multiple,
        form_price,finance_price,finance_expend_money,electricity_num_a,electricity_num_b,
        electricity_num_c,electricity_num_d,electricity_num_price,move_account_money,returned_money_count,
        gross_margin,ammeter_type,ammeter_discern_num,ammeter_state,station_state,
        ammeter_address,affiliation_company,rent_company,linkman,phone,
        gathering_company,machine_room_address,tenement_address,remark,affirm_pact_money,
        balance_date,contract_date,income_date,is_invoice,contract_num,
        invoice_type,tax_rate,tax_money,invoice_num,creat_time)
        values
        <foreach collection="list"  item="item" index="index" separator=",">
            (
            #{item.info_id,jdbcType=VARCHAR},#{item.cheque_num,jdbcType=VARCHAR},#{item.worker,jdbcType=VARCHAR},#{item.modifier_date,jdbcType=VARCHAR},#{item.item_num,jdbcType=VARCHAR},#{item.payment_num,jdbcType=VARCHAR},
            #{item.ammeter_num,jdbcType=VARCHAR},#{item.payment_total,jdbcType=VARCHAR},#{item.isAccount,jdbcType=VARCHAR},#{item.station_type,jdbcType=VARCHAR},
            #{item.agreement_price,jdbcType=VARCHAR},#{item.area,jdbcType=VARCHAR},#{item.network_identity,jdbcType=VARCHAR},#{item.station_num,jdbcType=VARCHAR},#{item.station_name,jdbcType=VARCHAR},
            #{item.machine_room,jdbcType=VARCHAR},#{item.machine_QR,jdbcType=VARCHAR},#{item.payment_period,jdbcType=VARCHAR},#{item.befor_payment_date,jdbcType=VARCHAR},#{item.last_ammeter_num,jdbcType=DOUBLE},
            #{item.now_ammeter_num,jdbcType=DOUBLE},#{item.reality_report_num,jdbcType=DOUBLE},#{item.last_check_ammeter,jdbcType=VARCHAR},#{item.now_check_ammeter,jdbcType=VARCHAR},#{item.multiple,jdbcType=DOUBLE},
            #{item.form_price,jdbcType=DOUBLE},#{item.finance_price,jdbcType=DOUBLE},#{item.finance_expend_money,jdbcType=DOUBLE},#{item.electricity_num_a,jdbcType=DOUBLE},#{item.electricity_num_b,jdbcType=DOUBLE},
            #{item.electricity_num_c,jdbcType=DOUBLE},#{item.electricity_num_d,jdbcType=VARCHAR},#{item.electricity_num_price,jdbcType=DOUBLE},#{item.move_account_money,jdbcType=DOUBLE},#{item.returned_money_count,jdbcType=VARCHAR},
            #{item.gross_margin,jdbcType=DOUBLE},#{item.ammeter_type,jdbcType=VARCHAR},#{item.ammeter_discern_num,jdbcType=VARCHAR},#{item.ammeter_state,jdbcType=VARCHAR},#{item.station_state,jdbcType=VARCHAR},
            #{item.ammeter_address,jdbcType=VARCHAR},#{item.affiliation_company,jdbcType=VARCHAR},#{item.rent_company,jdbcType=VARCHAR},#{item.linkman,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},
            #{item.gathering_company,jdbcType=VARCHAR},#{item.machine_room_address,jdbcType=VARCHAR},#{item.tenement_address,jdbcType=VARCHAR},#{item.remark,jdbcType=VARCHAR},#{item.affirm_pact_money,jdbcType=VARCHAR},
            #{item.balance_date,jdbcType=VARCHAR},#{item.contract_date,jdbcType=VARCHAR},#{item.income_date,jdbcType=VARCHAR},#{item.is_invoice,jdbcType=VARCHAR},#{item.contract_num,jdbcType=VARCHAR},
            #{item.invoice_type,jdbcType=VARCHAR},#{item.tax_rate,jdbcType=DOUBLE},#{item.tax_money,jdbcType=DOUBLE},#{item.invoice_num,jdbcType=VARCHAR},#{item.creat_time,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>